html,body { height:100%; }

body {
  background-color: rgb(64, 73, 155);
  height: 100%;
}

button {
  background-color: #01a76f;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 5pt;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16pt;
  font-weight: 600; 
}

.App {
  text-align: center;
  background-color: rgb(253, 250, 245);
  font-size: 14pt;
  font-weight: 600;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  padding: 10pt;
  margin-left: 60pt;
  margin-right: 60pt;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
